/* Todos los CSS se diseñaron únicamente para pantallas de computadoras.
   No se realizaron ajustes específicos para dispositivos móviles.*/

body, html {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: rgb(237, 235, 235);
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.titulo{
    background-color: rgb(117, 167, 249);
    top: 0;
    height: 65px;
}

ul{
    list-style: none;
}

h3{
    color: rgb(53, 120, 227);
}


.estudios{
    display: flex;
    padding: 100px;
    padding: 0;
    font-size: 20px;
    margin-left: 70px;
}

.estudios p{
    margin-left: 30px;
}

.regreso p{
    text-align: center;
    font-size: 25px;
    
}

.regreso a {
    display: inline-block;
    color: rgb(49, 110, 210);
}

.regreso a:hover{
    transform: scale(1.1);
    color:black;
}